* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    /* Usar siempre 100%*/
    width: 100%;
    min-height: 100vh;

    font-family: 'JetBrains Mono', monospace;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

header {
    width: 100%;
    height: 15rem;

    display: flex;
    flex-direction: column;
}

header .header__icons-container {
    width: 100%;
    height: 5rem;

    display: flex;
    justify-content: flex-end;

    padding-right: 5rem;

    background-color: #77942e;
}

header .header__icons-container .icons {
    width: 10rem;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons a span {
    color: black;
}

nav {
    width: 100%;
    height: 10rem;

    display: flex;

    padding: 0 5rem;

    justify-content: space-between;
    align-items: center;

    background-color: #616161;
}

nav .nav__logo-container img {
    width: 22rem;
}

nav .profile-link a {
    font-size: 1.8rem;

    color: black;
    border-bottom: 0.1rem solid black;
}

.home-main {
    /* Resatamos lo del header*/
    width: 100%;
    min-height: calc(100vh - 15rem);

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url("../assets/img/Cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-main section {
    width: 70%;
}

.home-main__title {
    margin-top: 8rem;

    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1rem;
    text-align: center;

    color: white;
}

.home-main__button {
    width: 15rem;
    height: 5rem;

    display: grid;
    place-items: center;

    margin: 5rem auto;

    font-weight: 700;
    font-size: 1.8rem;

    background-color: #77942e;
    border-radius: 0.5rem;
}

.blogs-main {
    display: grid;
}

.blogs-news-container {
    background-color: #e6e9ed;
    padding: 3rem 5rem 4rem;
}

.blogs-main-new {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.blogs-main-new  h3 {
    margin-bottom: 1rem;

    font-size: 1.75rem;
}

.blogs-news__img-container {
    grid-column: 1;
}

.blogs-news__img-container img {
    width: 85%;
}

.blogs-news__info-container {
    grid-column: 2;
}

.blogs-news__info-container h2 {
    margin-bottom: 1rem;

    font-size: 2rem;
}

.blogs-news__info-container p {

    font-size: 1.2rem;
}

.blogs-news__info-container p {
    margin-bottom: 3.5rem;
}

.blogs-posts-container {
    padding: 3rem 5rem 4rem;

    background-color: #616161;
}

.blogs-posts-container h3 {
    font-size: 2rem;
    text-align: center;

    padding-bottom: 2rem;

    border-bottom: 0.1rem solid black;
}

.blogs-button {
    
    display: inline-block;

    padding: 1rem 1.5rem;

    font-size: 1.2rem;

    border: 0.2rem solid #77942e;
    background-color: #cbced2;
}

.blogs-button:hover {
    color: #cbced2;
    background-color: rgb(42, 41, 41);
}

.blogs-posts-container .posts-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blogs-posts-container .posts-container .post-container {
    max-width: 30%;

    display: inline-block;
    
    margin: 4rem 0 5rem;

    padding-left: 1rem;
}

.blogs-posts-container .post-container img {
    width: 100%;
    
    margin-bottom: 0.5rem;
}

.blogs-posts-container .post-container p:first-of-type {
    font-size: 1.5rem;
    font-weight: 700;
}

.blogs-posts-container .post-container p {
    font-size: 1.2rem;

    margin-bottom: 3.5rem;
}  

footer {
    width: 100%;
    height: 8rem;

    display: grid;
    place-items: center;

    text-align: center;

    border-top: 3.5rem solid #77942e;
    background-color: #cbced2;
}

footer p {
    font-size: 1.5rem;
}

.limit-width {
    max-width: 1020px;

    margin: 0 auto;
}

.blog-main {
    background-color: #e6e9ed;
}

.blogpost-img-container {
    padding: 4rem 5rem;
}

.blogpost-img-container img {
    width: 100%;
}

.blogpost-main-container {
    padding: 0 5rem 4rem;
}

.blogpost-main-container h3 {
    padding-bottom: 2rem;

    font-size: 1.85rem;

    border-bottom: 0.1rem solid #adb0b6;
}

.blogpost-main-container article h1 {
    padding: 2rem 0 2rem;

    font-size: 3rem;
}

.blogpost-main-container article p {
    margin-bottom: 1rem;
    
    font-size: 1.65rem;
}

.blogpost-main-container article p:last-child {
    margin: 0;
}

.contact-main-container {
    width: 100%;
    min-height: 250px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 0 1.5rem;

    text-align: center;

    background-color: #616161;
}

.contact-main-container__item {
    width: 49.5%;
    max-width: 450px;

    display: flex;
    align-items: center;
}

.contact-main-container__item img {
    min-width: 50px;
    max-width: 100px;

    margin-right: 1.5rem;
}

.contact-main-container__item a {
    padding-bottom: 0.5rem;

    font-size: 1.5rem;
    font-weight: 700;

    border-bottom: 0.1rem solid black;
}

.contact-main-container__item p {
    margin-top: 1.5rem;

    font-size: 1.5rem;
}

.contact-main-container .contact-left, .contact-right {
    text-align: initial;
}

.profile-main-container {
    padding: 7rem 4rem;

    background-color: #e6e9ed;
}

.profile-main-container .profile-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-info img {
    margin-right: 4rem;

    border-radius: 50%;
}

.profile-info h2 {
    margin-bottom: 1rem;

    font-size: 2.5rem;
}

.profile-info p {
    font-size: 1.75rem;
}

.profile-main-proyects {
    padding: 5rem 5rem ;

    background-color: #cbced2;
}

.profile-main-proyects h3 {
    margin-bottom: 3rem;
    padding-bottom: 2rem;

    font-size: 2.5rem;

    text-align: center;
    border-bottom: 0.1rem solid black;
}

.proyects-main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    padding: 0 1rem;
}

.proyects-main-container article h4 {
    margin-bottom: 1rem;

    font-size: 1.75rem;
}

.proyects-main-container article p {
    font-size: 1.25rem;
}